@using BlogBlast.Data.Entities

<!-- Check if there are any posts to display -->
<ol class="list-featured">
    @foreach (var post in Posts)
    {
        <li>
            <span>
                <!-- Display the title of the current post -->
                <h6 class="font-weight-bold">
                    <a href="details" class="text-dark">@post.Title</a>
                </h6>
                <!-- Display the author's name and category of the current post -->
                <p class="text-muted">
                    @post.User.Name in <a href="/category">@post.Category.Name</a>
                </p>
            </span>
        </li>
    }
</ol>

@code {
    // Define a parameter to receive the array of posts to be displayed
    [Parameter]
    public Post[] Posts { get; set; } = [];
}
