@page "/admin/manage-categories"

<AdminHeader Title="Manage Categories">
    <ActionButtons>
        <button type="button" class="btn btn-primary btn-sm">Add Category</button>
    </ActionButtons>
</AdminHeader>

@code {

}
