@inherits LayoutComponentBase

@layout MainLayout

<div class="container-fluid">
    <div class="row">
        <div class="col-md-2 bg-gray py-3">
            @* MENUS Section *@
            <AuthorizeView>
                <Authorized>
                    <h6 class="text-center font-weight-bold">Welcome, @context.User.GetUserName()</h6>
                </Authorized>
            </AuthorizeView>
            <hr />
            <div class="list-group">
                <NavLink href="admin/manage-categories" class="list-group-item list-group-item-action">Manage Categories</NavLink>
                <NavLink href="admin/manage-posts" class="list-group-item list-group-item-action">Manage Posts</NavLink>
                <NavLink href="admin/manage-subscriptions" class="list-group-item list-group-item-action">Manage Subscriptions</NavLink>
                <div class="list-group-item list-group-item-action">
                    <LogoutForm ButtonClasses="btn btn-sm btn-danger" /> @* Rendered the Logout component with dynamic custom classes *@
                </div>
            </div>
        </div>
        <div class="col-md-10">
            @* CONTENT Section *@
            @Body
        </div>
    </div>
</div>

@code {

}
