@inherits LayoutComponentBase

@layout MainLayout

<div class="container-fluid">
    <div class="row">
        <div class="col-md-2">
            @* MENUS Section *@
        </div>
        <div class="col-md-10">
            @* CONTENT Section *@
            @Body
        </div>
    </div>
</div>

@code {

}
