<div class="container mt-5">
	<footer class="bg-white border-top p-3 text-muted small">
		<div class="row align-items-center justify-content-between">
			<div>
				<span class="navbar-brand mr-2"><strong>BlogBlast</strong></span> 
				Copyright &copy; @DateTime.Today.Year. All rights reserved.
			</div>
			<div class="pt-3">
				<p>Developed by <a target="_blank" class="text-secondary font-weight-bold" href="https://www.linkedin.com/in/moeezabdul/">MOEEZ ABDUL</a></p>
			</div>
		</div>
	</footer>
</div>