<div class="container mt-5">
    <!-- Footer section -->
    <footer class="bg-white border-top p-3 text-muted small">
        <!-- Row for alignment and spacing -->
        <div class="row align-items-center justify-content-between">
            <div>
                <!-- BlogBlast branding -->
                <span class="navbar-brand mr-2"><strong>BlogBlast</strong></span>
                <!-- Copyright statement with current year -->
                Copyright &copy; @DateTime.Today.Year. All rights reserved.
            </div>
            <div class="pt-3">
                <!-- Developer information -->
                <p>Developed by <a target="_blank" class="text-secondary font-weight-bold" href="https://www.linkedin.com/in/moeezabdul/">MOEEZ ABDUL</a></p>
            </div>
        </div>
    </footer>
</div>