@inherits LayoutComponentBase

<NavBar /> <!-- Include the NavBar component -->

@Body <!-- Render the body content -->

<Footer /> <!-- Include the Footer component -->

<div id="blazor-error-ui">
    <!-- Error message display section -->
    An unhandled error has occurred.
    <!-- Reload link to reload the page -->
    <a href="" class="reload">Reload</a>
    <!-- Dismiss link to close the error message -->
    <a class="dismiss">🗙</a>
</div>