@using BlogBlast.Data.Entities
@inject ICategoryService CategoryService

<nav class="topnav navbar navbar-expand-lg navbar-light bg-white fixed-top">
	<div class="container">
		<a class="navbar-brand" href="/"><strong>BlogBlast</strong></a>
		<button class="navbar-toggler collapsed" type="button" aria-controls="navbar-menu-wrapper" aria-expanded="false" aria-label="Toggle navigation" onclick="toggleMenu(event)"> @* Call the toggleMenu Method and pass the event *@
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="navbar-collapse collapse" id="navbar-menu-wrapper" style="">
			<ul class="navbar-nav mr-auto d-flex align-items-center">
				<li class="nav-item">
					<a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
				</li>
				@foreach (var category in _categories)
				{
					<li class="nav-item">
						<a class="nav-link" href="category">@category.Name</a>
					</li>
				}
			</ul>
			<ul class="navbar-nav ml-auto d-flex align-items-center">
				<AuthorizeView>
					<Authorized>
						<li class="nav-item">
							<a class="nav-link text-black" href="admin/dashboard">@context.User.GetUserName()</a> @* Getting user name and displaying on the Navbar *@
						</li>
						<li class="nav-item highlight">
							<LogoutForm ButtonClasses="nav-link" /> @* Rendered the Logout component with dynamic custom classes *@
						</li>
					</Authorized>
					<NotAuthorized>
						<li class="nav-item highlight">
							<a class="nav-link" href="account/login">Login</a>
						</li>
					</NotAuthorized>
				</AuthorizeView>
			</ul>
		</div>
	</div>
</nav>

@code {
	// Empty array to store categories
	private Category[] _categories = [];

	// Creating a constatnt value, whicl will not change for categories that can be visible on the navbar
	private const int MaxCategoriesToVisibleOnNavbar = 5;

	protected override async Task OnInitializedAsync()
	{
		// Get all categories
		var categories = await CategoryService.GetCategoriesAsync();

		// Take 5 from, where VisibleOnNavbar is = true from categories
		_categories = categories.Where(c => c.VisibleOnNavbar).Take(MaxCategoriesToVisibleOnNavbar).ToArray();

		// Check what if categoreis have less then 5 categories
		if (_categories.Length < MaxCategoriesToVisibleOnNavbar)
		{
			// Get categories array and spread them 
			// If so, then we get categories which are false, and display them
			_categories = [.. _categories, .. categories.Where(c => !c.VisibleOnNavbar).Take(MaxCategoriesToVisibleOnNavbar - _categories.Length)];
		}
	}
}
